* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 460px;
    height: 190px;
    margin: 200px auto;
    cursor: pointer;
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 100px;
}
.box:nth-child(1){
    background-color: blue;
    justify-content:right;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}
.container:hover .box:nth-child(1){
    animation: box1 2s linear infinite alternate;
}
.container:hover .box:nth-child(2){
    animation: box2 2s linear infinite alternate;
}
.container:hover .box:nth-child(3){
    animation: box3 2s linear infinite alternate;
}
@keyframes box1 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
        rotate: 30deg;
        color: black;
    }
    100%{
        transform: scale(1);
    }
}
.box:nth-child(2){
    background-color: blue;
    justify-content: center;
}
@keyframes box2 {
    0%{
        background-color: blue;
    }
    50%{
        background-color:blueviolet;
        rotate: 115deg;
    }
    100%{
        background-color: blue;
    }
}
.box:nth-child(3){
    background-color: blue;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
}
@keyframes box3 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
        rotate: -45deg;
    }
    100%{
        transform: scale(1);
    }
}